@charset "UTF-8";
* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

/* VERSION DESKTOP --------  */
.oculto {
  display: none; }

.header-menuHamburguesa-container,
.header-info-mobile,
.idiomas-mobile,
.portfolio-container-mobile {
  display: none; }

.header-background {
  position: relative; }
  .header-background .header-desktop-background {
    display: grid;
    grid-template-rows: 50vh 50vh; }
    .header-background .header-desktop-background .header-info-portfolio {
      background: linear-gradient(rgba(0, 0, 0, 0.8), transparent), url("../imagenes/desktop/ancash-huaraz.jpg");
      background-position: center center;
      background-repeat: none;
      background-size: cover;
      grid-row: 1;
      display: grid;
      grid-template-columns: 30% 70%; }
      .header-background .header-desktop-background .header-info-portfolio ul {
        grid-column: 2;
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin: 0;
        width: 100%;
        height: min-content; }
        .header-background .header-desktop-background .header-info-portfolio ul li {
          list-style: none;
          cursor: pointer; }
          .header-background .header-desktop-background .header-info-portfolio ul li a {
            text-decoration: none;
            color: white;
            font-size: 17px; }
          .header-background .header-desktop-background .header-info-portfolio ul li:hover {
            /* background: linear-gradient(45deg, red, #800000, #400000, black); */
            /* border-radius: 8px; */
            opacity: .5; }
    .header-background .header-desktop-background .header-seccionVacia {
      grid-row: 2;
      background-color: #1f2233; }
  .header-background .header-container-fotoTitulo {
    position: absolute;
    top: 55%;
    /* Centra en la mitad de la pantalla verticalmente */
    left: 50%;
    /* Centra en la mitad de la pantalla horizontalmente */
    transform: translate(-50%, -50%);
    /* Ajusta para centrar correctamente */ }
    .header-background .header-container-fotoTitulo .header-background-foto {
      margin: auto;
      text-align: center;
      grid-row: 1; }
      .header-background .header-container-fotoTitulo .header-background-foto .header-foto {
        width: 200px;
        display: block;
        /* Asegura que la imagen se centre correctamente */
        margin: auto;
        /* Centra la imagen horizontalmente */ }
    .header-background .header-container-fotoTitulo .header-titulos {
      text-align: center;
      color: white; }
      .header-background .header-container-fotoTitulo .header-titulos h1 {
        color: #d96959; }
  .header-background .header-nombre-portfolio {
    padding-right: 20px;
    margin-left: 10px;
    width: fit-content; }
    .header-background .header-nombre-portfolio a {
      color: white;
      text-decoration: none; }
      .header-background .header-nombre-portfolio a p {
        margin: 0; }

.todo-el-contenido {
  background-color: #1f2233;
  color: white;
  text-align: center;
  padding: 40px 0px 0;
  /* main {
    .main-principal {
      padding: 0px 10px 0;

    }
  } */ }
  .todo-el-contenido .sobreMi-container {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 40px 80px; }
    .todo-el-contenido .sobreMi-container .seccion-fotoSobreMi {
      margin: auto;
      grid-column: 1; }
      .todo-el-contenido .sobreMi-container .seccion-fotoSobreMi .main-foto {
        padding: 20px 0; }
        .todo-el-contenido .sobreMi-container .seccion-fotoSobreMi .main-foto img {
          width: 60%; }
        .todo-el-contenido .sobreMi-container .seccion-fotoSobreMi .main-foto .redes {
          padding-top: 20px; }
          .todo-el-contenido .sobreMi-container .seccion-fotoSobreMi .main-foto .redes i {
            font-size: 25px;
            color: white;
            padding: 10px; }
    .todo-el-contenido .sobreMi-container .texto-sobreMi {
      grid-column: 2; }
      .todo-el-contenido .sobreMi-container .texto-sobreMi h2 {
        text-align: center; }
      .todo-el-contenido .sobreMi-container .texto-sobreMi p {
        text-align: left;
        padding: 25px 100px;
        line-height: 30px;
        font-size: 18px; }
        .todo-el-contenido .sobreMi-container .texto-sobreMi p:nth-of-type(2) {
          padding-top: 0; }
  .todo-el-contenido .sobreMi-container,
  .todo-el-contenido .portfolio-container-desktop,
  .todo-el-contenido .contacto-container,
  .todo-el-contenido .estudios-especializaciones {
    text-align: center;
    width: 100%; }
    .todo-el-contenido .sobreMi-container h2,
    .todo-el-contenido .portfolio-container-desktop h2,
    .todo-el-contenido .contacto-container h2,
    .todo-el-contenido .estudios-especializaciones h2 {
      font-size: 30px;
      position: relative;
      padding-top: 0px; }
      .todo-el-contenido .sobreMi-container h2::after,
      .todo-el-contenido .portfolio-container-desktop h2::after,
      .todo-el-contenido .contacto-container h2::after,
      .todo-el-contenido .estudios-especializaciones h2::after {
        content: "";
        position: absolute;
        bottom: -5px;
        /* Ajusta esto para controlar la posición vertical del subrayado */
        transform: translateX(-50%);
        width: 90px;
        height: 2px;
        /* Ajusta esto para controlar el grosor del subrayado */
        background-color: red;
        /* Cambia esto para cambiar el color del subrayado */
        left: 50%; }
    .todo-el-contenido .sobreMi-container i,
    .todo-el-contenido .portfolio-container-desktop i,
    .todo-el-contenido .contacto-container i,
    .todo-el-contenido .estudios-especializaciones i {
      color: white; }
  .todo-el-contenido .estudios-especializaciones {
    background-color: #25273e;
    padding: 50px 0 70px; }
    .todo-el-contenido .estudios-especializaciones .btnMenu-container {
      display: flex;
      justify-content: center;
      padding-bottom: 20px;
      font-size: 20px; }
      .todo-el-contenido .estudios-especializaciones .btnMenu-container button {
        margin: 10px;
        padding: 0.375rem;
        border-radius: 0.375rem;
        background-color: #25273e;
        color: white;
        border: 1px solid #25273e; }
      .todo-el-contenido .estudios-especializaciones .btnMenu-container .btn-seleccionado {
        background-color: #eb5c4f; }
    .todo-el-contenido .estudios-especializaciones .cards-container {
      display: flex;
      justify-content: space-evenly;
      min-height: 304px;
      max-width: 100%; }
      .todo-el-contenido .estudios-especializaciones .cards-container .card {
        max-width: calc(100%/2);
        margin: 0 1em;
        box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
        border: 1px solid #423949;
        border-radius: 0;
        background-color: #1f2233;
        padding: 25px; }
        .todo-el-contenido .estudios-especializaciones .cards-container .card .card-body {
          width: 200px;
          margin: auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: white; }
          .todo-el-contenido .estudios-especializaciones .cards-container .card .card-body .card-text {
            padding: 0; }
        .todo-el-contenido .estudios-especializaciones .cards-container .card .btnVerMas {
          width: fit-content;
          margin: auto;
          border: none;
          background-color: transparent; }
          .todo-el-contenido .estudios-especializaciones .cards-container .card .btnVerMas i {
            font-size: 40px; }
        .todo-el-contenido .estudios-especializaciones .cards-container .card .card-iconos {
          width: 100%;
          display: flex;
          justify-content: space-around; }
          .todo-el-contenido .estudios-especializaciones .cards-container .card .card-iconos i {
            font-size: 3rem; }
          .todo-el-contenido .estudios-especializaciones .cards-container .card .card-iconos img {
            width: 3rem; }
        .todo-el-contenido .estudios-especializaciones .cards-container .card .oculto {
          display: none; }
    .todo-el-contenido .estudios-especializaciones .oculto {
      display: none; }
  .todo-el-contenido .portfolio-container-desktop {
    padding: 20px; }
    .todo-el-contenido .portfolio-container-desktop #carouselExampleIndicators2 .carousel-inner {
      padding: 5em;
      padding-top: 2em; }
      .todo-el-contenido .portfolio-container-desktop #carouselExampleIndicators2 .carousel-inner .carousel-item {
        max-width: 100%; }
        .todo-el-contenido .portfolio-container-desktop #carouselExampleIndicators2 .carousel-inner .carousel-item .cards-container {
          display: flex;
          justify-content: space-evenly; }
          .todo-el-contenido .portfolio-container-desktop #carouselExampleIndicators2 .carousel-inner .carousel-item .cards-container .card {
            max-width: calc(100%/3);
            margin: 0 2em;
            box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
            border: none;
            border-radius: 10px;
            background-color: gray;
            width: 350px;
            height: 370px;
            display: grid;
            grid-template-rows: 50% 50%; }
            .todo-el-contenido .portfolio-container-desktop #carouselExampleIndicators2 .carousel-inner .carousel-item .cards-container .card img {
              width: 100%;
              height: 100%;
              margin: auto;
              grid-row: 1; }
            .todo-el-contenido .portfolio-container-desktop #carouselExampleIndicators2 .carousel-inner .carousel-item .cards-container .card .card-body {
              grid-row: 2; }
              .todo-el-contenido .portfolio-container-desktop #carouselExampleIndicators2 .carousel-inner .carousel-item .cards-container .card .card-body a {
                padding: 15px;
                font-size: 17px;
                letter-spacing: 1.3px;
                background: linear-gradient(45deg, red, #800000, #400000, black);
                border: none;
                color: white;
                border-radius: 10px;
                width: fit-content;
                margin: 0;
                font-weight: 900;
                cursor: pointer; }
                .todo-el-contenido .portfolio-container-desktop #carouselExampleIndicators2 .carousel-inner .carousel-item .cards-container .card .card-body a:hover {
                  opacity: 0.7; }
    .todo-el-contenido .portfolio-container-desktop #carouselExampleIndicators2 .carousel-control-prev,
    .todo-el-contenido .portfolio-container-desktop #carouselExampleIndicators2 .carousel-control-next {
      background-color: gray;
      width: 5vh;
      height: 5vh;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%); }
  .todo-el-contenido .contacto-container {
    padding: 20px;
    background-color: #25273e; }
    .todo-el-contenido .contacto-container .redes {
      /* padding: 20px 0; */ }
      .todo-el-contenido .contacto-container .redes a i {
        font-size: 25px;
        color: white; }
      .todo-el-contenido .contacto-container .redes p {
        margin: 0; }

/* VERSION MOBILE --------  */
@media (max-width: 576px) {
  .header-info-portfolio,
  .proyecto-pig-game,
  .portfolio-container-desktop, .header-info-portfolio ul li {
    display: none; }
  .header-background {
    position: relative; }
    .header-background .header-desktop-background {
      display: flex;
      flex-direction: column; }
      .header-background .header-desktop-background .header-info-portfolio {
        background: linear-gradient(rgba(0, 0, 0, 0.8), transparent), url("../../imagenes/desktop/ancash-huaraz.jpg");
        background-position: center center;
        background-repeat: none;
        background-size: cover;
        grid-row: 1;
        display: grid;
        grid-template-columns: 30% 70%;
        height: 30vh; }
      .header-background .header-desktop-background .header-seccionVacia {
        grid-row: 2;
        background-color: #1f2233; }
    .header-background .header-container-fotoTitulo {
      position: absolute;
      top: 120%;
      /* Centra en la mitad de la pantalla verticalmente */
      left: 50%;
      /* Centra en la mitad de la pantalla horizontalmente */
      transform: translate(-50%, -50%);
      /* Ajusta para centrar correctamente */ }
      .header-background .header-container-fotoTitulo .header-background-foto {
        margin: auto;
        text-align: center;
        grid-row: 1; }
        .header-background .header-container-fotoTitulo .header-background-foto .header-foto {
          width: 200px;
          display: block;
          /* Asegura que la imagen se centre correctamente */
          margin: auto;
          /* Centra la imagen horizontalmente */ }
      .header-background .header-container-fotoTitulo .header-titulos {
        text-align: center;
        color: white; }
        .header-background .header-container-fotoTitulo .header-titulos h1 {
          color: #d96959; }
    .header-background .header-nombre-portfolio {
      padding-right: 20px;
      margin-left: 10px;
      width: fit-content; }
      .header-background .header-nombre-portfolio a {
        color: white;
        text-decoration: none; }
        .header-background .header-nombre-portfolio a p {
          margin: 0; }
  .oculto {
    display: none; }
  .todo-el-contenido {
    background-color: #1f2233;
    color: white;
    padding-top: 40vh;
    /* main {
      position: relative;
      z-index: 1;

      .main-principal {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 20px 10px 0;

        .main-foto {
          padding: 20px 0;
          float: none;
          width: 100%;

          img {
            width: 60%;
          }
        }
      }

      .main-secundaria {
        text-align: center;
        padding-bottom: 20px;

        .redes {
          i {
            font-size: 20px;
            color: white;
          }
        }
      }
    } */ }
    .todo-el-contenido .sobreMi-container,
    .todo-el-contenido .portfolio-container,
    .todo-el-contenido .contacto-container,
    .todo-el-contenido .portfolio-container-mobile {
      text-align: center;
      padding: 50px 0;
      float: none;
      width: 100%; }
      .todo-el-contenido .sobreMi-container h2,
      .todo-el-contenido .portfolio-container h2,
      .todo-el-contenido .contacto-container h2,
      .todo-el-contenido .portfolio-container-mobile h2 {
        font-size: 30px;
        position: relative;
        padding-top: 10px; }
        .todo-el-contenido .sobreMi-container h2::after,
        .todo-el-contenido .portfolio-container h2::after,
        .todo-el-contenido .contacto-container h2::after,
        .todo-el-contenido .portfolio-container-mobile h2::after {
          content: "";
          position: absolute;
          bottom: -5px;
          /* Ajusta esto para controlar la posición vertical del subrayado */
          transform: translateX(-50%);
          width: 70px;
          height: 2px;
          /* Ajusta esto para controlar el grosor del subrayado */
          background-color: red;
          /* Cambia esto para cambiar el color del subrayado */
          left: 50%; }
      .todo-el-contenido .sobreMi-container i,
      .todo-el-contenido .portfolio-container i,
      .todo-el-contenido .contacto-container i,
      .todo-el-contenido .portfolio-container-mobile i {
        color: white; }
    .todo-el-contenido .sobreMi-container {
      display: flex;
      flex-direction: column;
      padding: 0; }
      .todo-el-contenido .sobreMi-container .seccion-fotoSobreMi .main-foto {
        padding: 0; }
        .todo-el-contenido .sobreMi-container .seccion-fotoSobreMi .main-foto img {
          width: 60%; }
        .todo-el-contenido .sobreMi-container .seccion-fotoSobreMi .main-foto .redes {
          padding-top: 20px; }
          .todo-el-contenido .sobreMi-container .seccion-fotoSobreMi .main-foto .redes i {
            font-size: 25px;
            color: white;
            padding: 10px; }
      .todo-el-contenido .sobreMi-container .texto-sobreMi h2 {
        text-align: center; }
      .todo-el-contenido .sobreMi-container .texto-sobreMi p {
        text-align: left;
        padding: 25px;
        line-height: 30px;
        font-size: 18px; }
        .todo-el-contenido .sobreMi-container .texto-sobreMi p:nth-of-type(2) {
          padding-top: 0; }
    .todo-el-contenido .estudios-especializaciones {
      background-color: #25273e;
      padding: 0px; }
      .todo-el-contenido .estudios-especializaciones .btnMenu-container {
        display: flex;
        justify-content: center;
        padding: 20px 0 0 0; }
        .todo-el-contenido .estudios-especializaciones .btnMenu-container button {
          margin: 10px;
          padding: 0.375rem;
          border-radius: 0.375rem;
          background-color: #25273e;
          color: white;
          border: 1px solid #25273e; }
        .todo-el-contenido .estudios-especializaciones .btnMenu-container .btn-seleccionado {
          background-color: #eb5c4f; }
      .todo-el-contenido .estudios-especializaciones .cards-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px 0; }
        .todo-el-contenido .estudios-especializaciones .cards-container .card {
          max-width: 80%;
          margin: 10px auto;
          box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
          border: 1px solid #423949;
          border-radius: 0;
          background-color: #1f2233;
          height: 220px;
          display: flex;
          /* padding: 50px; */ }
          .todo-el-contenido .estudios-especializaciones .cards-container .card .card-body {
            /* width: 200px; */
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 14px;
            padding: 0;
            /* .card-body .card-text:nth-child(2){
              font-size: 30px;
            } */ }
            .todo-el-contenido .estudios-especializaciones .cards-container .card .card-body .card-title {
              font-size: 20px; }
            .todo-el-contenido .estudios-especializaciones .cards-container .card .card-body p {
              font-size: 16px;
              margin: 5px 0; }
          .todo-el-contenido .estudios-especializaciones .cards-container .card .card-iconos .card-text {
            padding: 0;
            font-size: 4px; }
          .todo-el-contenido .estudios-especializaciones .cards-container .card .btnVerMas {
            width: fit-content;
            margin: auto;
            border: none;
            background-color: transparent; }
            .todo-el-contenido .estudios-especializaciones .cards-container .card .btnVerMas i {
              font-size: 20px; }
          .todo-el-contenido .estudios-especializaciones .cards-container .card .card-iconos {
            width: 100%;
            display: flex;
            justify-content: space-around; }
            .todo-el-contenido .estudios-especializaciones .cards-container .card .card-iconos i {
              font-size: 2rem; }
            .todo-el-contenido .estudios-especializaciones .cards-container .card .card-iconos img {
              width: 3rem; }
          .todo-el-contenido .estudios-especializaciones .cards-container .card .oculto {
            display: none; }
      .todo-el-contenido .estudios-especializaciones .oculto {
        display: none; }
    .todo-el-contenido .portfolio-container-mobile {
      display: block; }
      .todo-el-contenido .portfolio-container-mobile .carousel-inner {
        padding: 50px; }
        .todo-el-contenido .portfolio-container-mobile .carousel-inner .card {
          background-color: gray;
          height: 300px; }
          .todo-el-contenido .portfolio-container-mobile .carousel-inner .card a {
            padding: 15px;
            font-size: 17px;
            letter-spacing: 1.3px;
            background: linear-gradient(45deg, red, #800000, #400000, black);
            border: none;
            color: white;
            border-radius: 10px;
            width: fit-content;
            margin: 0;
            font-weight: 900;
            cursor: pointer; }
            .todo-el-contenido .portfolio-container-mobile .carousel-inner .card a:hover {
              opacity: 0.7; }
          .todo-el-contenido .portfolio-container-mobile .carousel-inner .card img {
            max-width: 70%;
            height: 110px;
            margin: auto; }
    .todo-el-contenido .contacto-container {
      margin-top: 20px;
      padding-bottom: 0; }
      .todo-el-contenido .contacto-container .redes {
        padding: 40px 0; }
        .todo-el-contenido .contacto-container .redes i {
          font-size: 20px; }
        .todo-el-contenido .contacto-container .redes p {
          padding: 10px 20px; } }

/* VERSION DESKTOP --------  */
.header-iconoRegresar-container, .img-mobile {
  display: none; }

.header-pages {
  display: flex;
  justify-content: center; }

.portfolio-container-paginas {
  background-color: #1a1a1a;
  color: white;
  padding: 50px; }
  .portfolio-container-paginas .proyectos-descripcion {
    display: grid;
    grid-template-columns: 30% 70%; }
    .portfolio-container-paginas .proyectos-descripcion p {
      grid-column: 1;
      margin: auto;
      line-height: 30px;
      text-align: left; }
  .portfolio-container-paginas h3 {
    text-align: center;
    padding-bottom: 50px; }
  .portfolio-container-paginas div {
    display: flex;
    grid-column: 2; }
    .portfolio-container-paginas div img {
      width: 500px;
      height: 400px;
      margin: auto; }
    .portfolio-container-paginas div .img-desktop {
      width: 700px;
      height: 400px; }
  .portfolio-container-paginas .btn-visitar-sitio {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0;
    margin: 0px; }
    .portfolio-container-paginas .btn-visitar-sitio a {
      text-decoration: none;
      color: white;
      padding: 10px 0; }
      .portfolio-container-paginas .btn-visitar-sitio a button {
        padding: 15px;
        font-size: 17px;
        letter-spacing: 1.3px;
        background: linear-gradient(45deg, red, #800000, #400000, black);
        border: none;
        color: white;
        border-radius: 10px;
        width: fit-content;
        margin: 0;
        font-weight: 900;
        cursor: pointer; }
        .portfolio-container-paginas .btn-visitar-sitio a button:hover {
          opacity: 0.7; }

.contacto-container {
  padding: 0 20px 20px; }
  .contacto-container h2 {
    margin-bottom: 30px; }
  .contacto-container .redes {
    /* padding: 20px 0; */
    /* p {
      padding-top: 20px;
      margin: 0 0 16px;
    } */ }
    .contacto-container .redes a i {
      font-size: 25px;
      color: white; }

@media (max-width: 576px) {
  .btn-regresar, .img-desktop {
    display: none; }
  .header-pages {
    display: grid;
    grid-template-columns: 80% 20%; }
    .header-pages .header-iconoRegresar-container {
      display: flex;
      justify-content: center; }
      .header-pages .header-iconoRegresar-container a {
        color: white; }
        .header-pages .header-iconoRegresar-container a i {
          text-align: center; }
  .portfolio-container-paginas {
    background-color: #1a1a1a;
    color: white;
    padding: 0px; }
    .portfolio-container-paginas .proyectos-descripcion {
      display: flex;
      flex-direction: column; }
    .portfolio-container-paginas p {
      padding: 40px 50px;
      text-align: left;
      color: white; }
    .portfolio-container-paginas h3 {
      padding: 20px 50px;
      color: white; }
    .portfolio-container-paginas div {
      display: flex; }
      .portfolio-container-paginas div .img-mobile {
        display: block;
        width: 80%;
        margin: auto; }
    .portfolio-container-paginas .btn-visitar-sitio {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 50px 0;
      margin: 0px; }
      .portfolio-container-paginas .btn-visitar-sitio a {
        text-decoration: none;
        color: white;
        padding: 10px 0; }
        .portfolio-container-paginas .btn-visitar-sitio a button {
          padding: 15px;
          font-size: 17px;
          letter-spacing: 1.3px;
          background-color: orangered;
          border: none;
          color: white;
          border-radius: 10px;
          width: fit-content;
          margin: 0;
          font-weight: 900; } }

.propiedades-subrayado-titulos {
  content: "";
  position: absolute;
  bottom: -5px;
  /* Ajusta esto para controlar la posición vertical del subrayado */
  left: 42.5%;
  width: 60px;
  height: 2px;
  /* Ajusta esto para controlar el grosor del subrayado */
  background-color: #000;
  /* Cambia esto para cambiar el color del subrayado */
  margin: auto; }

/* .propiedades-botones {
  font-size: 17px;
  letter-spacing: 1.6px;
  background-color: orangered;
  border: none;
  color: white;
  border-radius: 10px;
  width: fit-content;
  margin: 0;
} */
