@charset "UTF-8";
/* VERSION MOBILE --------  */
@media (max-width: 576px) {
  .header-info-portfolio,
  .proyecto-pig-game {
    display: none; }
  header {
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 20px;
    position: sticky;
    top: 0;
    background-color: black;
    color: white;
    z-index: 100;
    width: 100%; }
    header p {
      padding-left: 10px; }
    header .header-nombre-portfolio {
      grid-column: 1; }
    header .header-menuHamburguesa-container {
      grid-column: 2;
      text-align: center; }
  .header-info-mobile {
    z-index: 100;
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 39px;
    color: white; }
    .header-info-mobile ul {
      list-style: none;
      text-align: center;
      line-height: 50px;
      height: 100vh;
      font-size: 20px;
      margin: 0;
      /* Elimina el margen por defecto del ul */
      padding: 0;
      /* Elimina el padding por defecto del ul */
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* Centra verticalmente los elementos */
      align-items: center;
      /* Centra horizontalmente los elementos */ }
      .header-info-mobile ul a {
        color: white;
        text-decoration: none; }
  .oculto {
    display: none; }
  .todo-el-contenido {
    background-color: wheat; }
    .todo-el-contenido main {
      position: relative;
      z-index: 1; }
      .todo-el-contenido main .main-principal {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 20px 10px 0; }
        .todo-el-contenido main .main-principal .main-foto {
          padding: 20px 0; }
          .todo-el-contenido main .main-principal .main-foto img {
            width: 60%; }
      .todo-el-contenido main .main-secundaria {
        text-align: center;
        padding-bottom: 20px; }
        .todo-el-contenido main .main-secundaria .redes i {
          font-size: 20px; }
    .todo-el-contenido .estudios ul {
      padding: 10px 0;
      list-style: none; }
      .todo-el-contenido .estudios ul .titulo-instituto {
        position: relative;
        top: -15px;
        padding-left: 90px;
        text-decoration: underline; }
      .todo-el-contenido .estudios ul p {
        padding: 10px 90px;
        position: relative;
        top: -15px; }
      .todo-el-contenido .estudios ul i {
        padding-right: 15px; }
      .todo-el-contenido .estudios ul li {
        text-align: left;
        padding: 10px 60px; }
    .todo-el-contenido .sobreMi-container,
    .todo-el-contenido .estudios {
      text-align: center; }
      .todo-el-contenido .sobreMi-container img,
      .todo-el-contenido .estudios img {
        padding: 30px 0;
        width: 60%; }
      .todo-el-contenido .sobreMi-container p,
      .todo-el-contenido .estudios p {
        padding: 20px 50px;
        text-align: left; }
      .todo-el-contenido .sobreMi-container h2,
      .todo-el-contenido .estudios h2 {
        font-size: 20px;
        position: relative; }
        .todo-el-contenido .sobreMi-container h2::after,
        .todo-el-contenido .estudios h2::after {
          content: "";
          position: absolute;
          bottom: -5px;
          /* Ajusta esto para controlar la posición vertical del subrayado */
          transform: translateX(-50%);
          width: 70px;
          height: 2px;
          /* Ajusta esto para controlar el grosor del subrayado */
          background-color: #000;
          /* Cambia esto para cambiar el color del subrayado */
          left: 50%; }
    .todo-el-contenido .portfolio-container {
      text-align: center; }
      .todo-el-contenido .portfolio-container h2 {
        font-size: 20px;
        position: relative; }
        .todo-el-contenido .portfolio-container h2::after {
          content: "";
          position: absolute;
          bottom: -5px;
          /* Ajusta esto para controlar la posición vertical del subrayado */
          transform: translateX(-50%);
          width: 70px;
          height: 2px;
          /* Ajusta esto para controlar el grosor del subrayado */
          background-color: #000;
          /* Cambia esto para cambiar el color del subrayado */
          left: 50%;
          /*  */ }
      .todo-el-contenido .portfolio-container .proyectos-container {
        padding: 0px 0px;
        /* .proyectos{
              
          } */ }
      .todo-el-contenido .portfolio-container p {
        padding: 20px 50px;
        text-align: left; }
      .todo-el-contenido .portfolio-container h3 {
        padding: 20px 50px; }
      .todo-el-contenido .portfolio-container a {
        text-decoration: none;
        color: black; }
      .todo-el-contenido .portfolio-container img {
        width: 60%; }
    .todo-el-contenido .contacto-container {
      text-align: center; }
      .todo-el-contenido .contacto-container h2 {
        font-size: 20px;
        position: relative; }
        .todo-el-contenido .contacto-container h2::after {
          content: "";
          position: absolute;
          bottom: -5px;
          /* Ajusta esto para controlar la posición vertical del subrayado */
          transform: translateX(-50%);
          width: 70px;
          height: 2px;
          /* Ajusta esto para controlar el grosor del subrayado */
          background-color: #000;
          /* Cambia esto para cambiar el color del subrayado */
          left: 50%; }
      .todo-el-contenido .contacto-container .redes {
        padding: 40px 0; }
        .todo-el-contenido .contacto-container .redes i {
          font-size: 20px; }
        .todo-el-contenido .contacto-container .redes p {
          padding: 10px 20px; } }

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

.propiedades-subrayado-titulos {
  content: "";
  position: absolute;
  bottom: -5px;
  /* Ajusta esto para controlar la posición vertical del subrayado */
  left: 42.5%;
  width: 60px;
  height: 2px;
  /* Ajusta esto para controlar el grosor del subrayado */
  background-color: #000;
  /* Cambia esto para cambiar el color del subrayado */
  margin: auto; }
