/* VERSION DESKTOP --------  */
.oculto {
  display: none;
}

.header-menuHamburguesa-container,
.header-info-mobile,
.idiomas-mobile,
.portfolio-container-mobile {
  display: none;
}

.header-background {
  position: relative;

  .header-desktop-background {
    display: grid;
    grid-template-rows: 50vh 50vh;

    .header-info-portfolio {
      background: linear-gradient(rgba(0, 0, 0, 0.8), transparent),
        url("../imagenes/desktop/ancash-huaraz.jpg");
      background-position: center center;
      background-repeat: none;
      background-size: cover;
      grid-row: 1;
      display: grid;
      grid-template-columns: 30% 70%;

      ul {
        grid-column: 2;
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin: 0;
        width: 100%;
        height: min-content;

        li {
          list-style: none;
          cursor: pointer;

          a {
            text-decoration: none;
            color: white;
            font-size: 17px;
          }

          &:hover {
            /* background: linear-gradient(45deg, red, #800000, #400000, black); */
            /* border-radius: 8px; */
            opacity: 0.5;
          }
        }
      }
    }

    .header-seccionVacia {
      grid-row: 2;
      background-color: rgb(31, 34, 51);
    }
  }

  .header-container-fotoTitulo {
    position: absolute;
    top: 55%;
    /* Centra en la mitad de la pantalla verticalmente */
    left: 50%;
    /* Centra en la mitad de la pantalla horizontalmente */
    transform: translate(-50%, -50%);
    /* Ajusta para centrar correctamente */

    .header-background-foto {
      margin: auto;
      text-align: center;
      grid-row: 1;

      .header-foto {
        width: 200px;
        display: block;
        /* Asegura que la imagen se centre correctamente */
        margin: auto;
        /* Centra la imagen horizontalmente */
      }
    }

    .header-titulos {
      text-align: center;
      color: white;

      h1 {
        color: rgb(217, 105, 89);
      }
    }
  }

  .header-nombre-portfolio {
    padding-right: 20px;
    margin-left: 10px;
    width: fit-content;

    a {
      color: white;
      text-decoration: none;

      p {
        margin: 0;
      }
    }
  }
}

.todo-el-contenido {
  background-color: rgb(31, 34, 51);
  color: white;
  text-align: center;
  padding: 40px 0px 0;

  .sobreMi-container {
    display: grid;
    grid-template-columns: 30% 70%;

    padding: 40px 80px;

    .seccion-fotoSobreMi {
      margin: auto;
      grid-column: 1;

      .main-foto {
        padding: 20px 0;

        img {
          width: 60%;
        }

        .redes {
          padding-top: 20px;

          i {
            font-size: 25px;
            color: white;
            padding: 10px;
          }
        }
      }
    }

    .texto-sobreMi {
      grid-column: 2;

      h2 {
        text-align: center;
      }

      p {
        text-align: left;
        padding: 25px 100px;
        line-height: 30px;
        font-size: 18px;

        &:nth-of-type(2) {
          padding-top: 0;
        }
      }
    }
  }

  .sobreMi-container,
  .portfolio-container-desktop,
  .contacto-container,
  .estudios-especializaciones {
    text-align: center;
    width: 100%;

    h2 {
      font-size: 30px;
      position: relative;
      padding-top: 0px;

      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        /* Ajusta esto para controlar la posición vertical del subrayado */
        transform: translateX(-50%);
        width: 90px;
        height: 2px;
        /* Ajusta esto para controlar el grosor del subrayado */
        background-color: red;
        /* Cambia esto para cambiar el color del subrayado */
        left: 50%;
      }
    }

    i {
      color: white;
    }
  }

  .estudios-especializaciones {
    background-color: rgb(37, 39, 62);
    padding: 50px 0 70px;

    .btnMenu-container {
      display: flex;
      justify-content: center;
      padding-bottom: 20px;
      font-size: 20px;

      button {
        margin: 10px;
        padding: 0.375rem;
        border-radius: 0.375rem;
        background-color: rgb(37, 39, 62);
        color: white;
        border: 1px solid rgb(37, 39, 62);
      }

      .btn-seleccionado {
        background-color: rgb(235, 92, 79);
      }
    }

    .cards-container {
      display: flex;
      justify-content: space-evenly;
      min-height: 304px;
      max-width: 100%;

      .card {
        max-width: calc(100% / 2);
        margin: 0 1em;
        box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
        border: 1px solid rgb(66, 57, 73);
        border-radius: 0;
        background-color: rgb(31, 34, 51);
        padding: 25px;

        .card-body {
          width: 200px;
          margin: auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: white;

          .card-text {
            padding: 0;
          }
        }

        .btnVerMas {
          width: fit-content;
          margin: auto;
          border: none;
          background-color: transparent;

          i {
            font-size: 40px;
          }
        }

        .card-iconos {
          width: 100%;
          display: flex;
          justify-content: space-around;

          i {
            font-size: 3rem;
          }

          img {
            width: 3rem;
          }
        }

        .oculto {
          display: none;
        }
      }
    }

    .oculto {
      display: none;
    }
  }

  .portfolio-container-desktop {
    padding: 20px;

    #carouselExampleIndicators2 {
      .carousel-inner {
        padding: 5em;
        padding-top: 2em;

        .carousel-item {
          max-width: 100%;

          .cards-container {
            display: flex;
            justify-content: space-evenly;

            .card {
              max-width: calc(100% / 3);
              margin: 0 2em;
              box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
              border: none;
              border-radius: 10px;
              background-color: gray;
              width: 350px;
              height: 370px;
              display: grid;
              grid-template-rows: 50% 50%;

              img {
                width: 100%;
                height: 100%;
                margin: auto;
                grid-row: 1;
              }

              .card-body {
                grid-row: 2;

                a {
                  padding: 15px;
                  font-size: 17px;
                  letter-spacing: 1.3px;
                  background: linear-gradient(
                    45deg,
                    red,
                    #800000,
                    #400000,
                    black
                  );
                  border: none;
                  color: white;
                  border-radius: 10px;
                  width: fit-content;
                  margin: 0;
                  font-weight: 900;
                  cursor: pointer;

                  &:hover {
                    opacity: 0.7;
                  }
                }
              }
            }
          }
        }
      }

      .carousel-control-prev,
      .carousel-control-next {
        background-color: gray;
        width: 5vh;
        height: 5vh;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .info-cada-proyecto {
      /* position: relative;
      top: -400px; */
      /* background-color: black; */
      height: fit-content;
      border: 1px solid black;
      background-color: rgb(37, 39, 62);
      margin: auto;
      /* display: flex;
      flex-direction: column; */
      /* display: grid;
      grid-template-columns: 60% 40%; */

      .card-icono-close{
        text-align: right;
        padding-right: 70px;
        padding-top: 50px;

        i{
          font-size: 25px;
          cursor: pointer;
        }
      }

      .card-separador-carusel-info {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-column: 2;
        height: 100%;

        #carouselExampleIndicators {
          grid-column: 1;
        }

        .cardInfo-contenedor-detalles {
          padding: 50px 70px;
          color: white;
          grid-column: 2;
          text-align: left;

          .card-info-contenedorBotones {
            display: flex;
            flex-direction: column;

            button{
              background-color: rgb(31, 34, 51);
              padding: 5px;
              color: white;
              margin: 5px 0;
              border: none;

            
            }
            
          }
        }
      }

      .carousel-item {
        padding: 50px 70px;
      }

      

      .oculto {
        display: none;
      }
    }
    .oculto {
      display: none;
    }

    .cortina {
      -webkit-animation: fadein 0.2s;
      animation: fadein 0.2s;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
      opacity: 0.2;

      top: 0;
      bottom: 0;
      background: #ccc;
    }
  }

  .contacto-container {
    padding: 20px;
    background-color: rgb(37, 39, 62);

    .redes {
      a {
        i {
          font-size: 25px;
          color: white;
        }
      }

      p {
        margin: 0;
      }
    }
  }
}
.cortina {
  -webkit-animation: fadein 0.2s;
  animation: fadein 0.2s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;

  top: 0;
  bottom: 0;
  background: #ccc;
}

/* VERSION MOBILE --------  */

@media (max-width: 576px) {
  .header-info-portfolio,
  .proyecto-pig-game,
  .portfolio-container-desktop,
  .header-info-portfolio ul li {
    display: none;
  }

  .header-background {
    position: relative;

    .header-desktop-background {
      display: flex;
      flex-direction: column;

      .header-info-portfolio {
        background: linear-gradient(rgba(0, 0, 0, 0.8), transparent),
          url("../imagenes/desktop/ancash-huaraz.jpg");
        background-position: center center;
        background-repeat: none;
        background-size: cover;
        grid-row: 1;
        display: grid;
        grid-template-columns: 30% 70%;
        height: 30vh;
      }

      .header-seccionVacia {
        grid-row: 2;
        background-color: rgb(31, 34, 51);
      }
    }

    .header-container-fotoTitulo {
      position: absolute;
      top: 120%;
      /* Centra en la mitad de la pantalla verticalmente */
      left: 50%;
      /* Centra en la mitad de la pantalla horizontalmente */
      transform: translate(-50%, -50%);
      /* Ajusta para centrar correctamente */

      .header-background-foto {
        margin: auto;
        text-align: center;
        grid-row: 1;

        .header-foto {
          width: 200px;
          display: block;
          /* Asegura que la imagen se centre correctamente */
          margin: auto;
          /* Centra la imagen horizontalmente */
        }
      }

      .header-titulos {
        text-align: center;
        color: white;

        h1 {
          color: rgb(217, 105, 89);
        }
      }
    }

    .header-nombre-portfolio {
      padding-right: 20px;
      margin-left: 10px;
      width: fit-content;

      a {
        color: white;
        text-decoration: none;

        p {
          margin: 0;
        }
      }
    }
  }

  .oculto {
    display: none;
  }

  .todo-el-contenido {
    background-color: rgb(31, 34, 51);
    color: white;
    padding-top: 40vh;

    .sobreMi-container,
    .portfolio-container,
    .contacto-container,
    .portfolio-container-mobile {
      text-align: center;
      padding: 50px 0;
      float: none;
      width: 100%;

      h2 {
        font-size: 30px;
        position: relative;
        padding-top: 10px;

        &::after {
          content: "";
          position: absolute;
          bottom: -5px;
          /* Ajusta esto para controlar la posición vertical del subrayado */
          transform: translateX(-50%);
          width: 70px;
          height: 2px;
          /* Ajusta esto para controlar el grosor del subrayado */
          background-color: red;
          /* Cambia esto para cambiar el color del subrayado */
          left: 50%;
        }
      }

      i {
        color: white;
      }
    }

    .sobreMi-container {
      display: flex;
      flex-direction: column;

      padding: 0;

      .seccion-fotoSobreMi {
        .main-foto {
          padding: 0;

          img {
            width: 60%;
          }

          .redes {
            padding-top: 20px;

            i {
              font-size: 25px;
              color: white;
              padding: 10px;
            }
          }
        }
      }

      .texto-sobreMi {
        h2 {
          text-align: center;
        }

        p {
          text-align: left;
          padding: 25px;
          line-height: 30px;
          font-size: 18px;

          &:nth-of-type(2) {
            padding-top: 0;
          }
        }
      }
    }

    .estudios-especializaciones {
      background-color: rgb(37, 39, 62);
      padding: 0px;

      .btnMenu-container {
        display: flex;
        justify-content: center;
        padding: 20px 0 0 0;

        button {
          margin: 10px;
          padding: 0.375rem;
          border-radius: 0.375rem;
          background-color: rgb(37, 39, 62);
          color: white;
          border: 1px solid rgb(37, 39, 62);
        }

        .btn-seleccionado {
          background-color: rgb(235, 92, 79);
        }
      }

      .cards-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px 0;

        .card {
          max-width: 80%;
          margin: 10px auto;
          box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
          border: 1px solid rgb(66, 57, 73);
          border-radius: 0;
          background-color: rgb(31, 34, 51);
          height: 220px;
          display: flex;
          /* padding: 50px; */

          .card-body {
            /* width: 200px; */
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 14px;
            padding: 0;

            .card-title {
              font-size: 20px;
            }

            p {
              font-size: 16px;
              margin: 5px 0;
            }
          }

          .card-iconos {
            .card-text {
              padding: 0;
              font-size: 4px;
            }
          }

          .btnVerMas {
            width: fit-content;
            margin: auto;
            border: none;
            background-color: transparent;

            i {
              font-size: 20px;
            }
          }

          .card-iconos {
            width: 100%;
            display: flex;
            justify-content: space-around;

            i {
              font-size: 2rem;
            }

            img {
              width: 3rem;
            }
          }

          .oculto {
            display: none;
          }
        }
      }

      .oculto {
        display: none;
      }
    }

    .portfolio-container-mobile {
      display: block;

      .carousel-inner {
        padding: 50px;

        .card {
          background-color: gray;
          height: 300px;

          a {
            padding: 15px;
            font-size: 17px;
            letter-spacing: 1.3px;
            background: linear-gradient(45deg, red, #800000, #400000, black);
            border: none;
            color: white;
            border-radius: 10px;
            width: fit-content;
            margin: 0;
            font-weight: 900;
            cursor: pointer;

            &:hover {
              opacity: 0.7;
            }
          }

          img {
            max-width: 70%;
            height: 110px;
            margin: auto;
          }
        }
      }
    }

    .contacto-container {
      margin-top: 20px;
      padding-bottom: 0;

      .redes {
        padding: 40px 0;

        i {
          font-size: 20px;
        }

        p {
          padding: 10px 20px;
        }
      }
    }
  }
}
